Repository canonical/checkbox, pull requests merged in 2024-11, with the labels that each got.

#1590 Flush stdout in retry functions (BugFix)
  checkbox-support/checkbox_support/helpers/retry.py
Labels: bug

#1578 [ce-oem] Add rs485 specific args (New)
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/bin/serial_config_parser.py
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/bin/serial_test.py
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/units/serial/jobs.pxu
Labels: ce-oem

#1577 Add LXD GPU passthrough tests (New)
  .github/workflows/tox-provider-gpgpu.yaml
  providers/gpgpu/bin/gpu_passthrough.py
  providers/gpgpu/tests/test_gpu_passthrough.py
  providers/gpgpu/tox.ini
  providers/gpgpu/units/gpgpu-only.pxu
  providers/gpgpu/units/jobs.pxu
  providers/gpgpu/units/test-plan.pxu
Labels: enhancement

#1554 [checkbox-ceoem] Modify optee test to allow different xtest snap (Bugfix)
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/bin/look_up_xtest.py
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/bin/parse_optee_test.py
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/bin/xtest_install_ta.py
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/data/optee-test-319.json
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/units/optee/README.md
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/units/optee/jobs.pxu
Labels: ce-oem

#1509 Implement the gst_transform_resize scenario (New)
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/bin/gst_resources_generator.py
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/bin/gst_transform_resize.py
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/data/video-codec-test-confs/genio-1200.json
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/data/video-codec-test-confs/genio-350.json
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/data/video-codec-test-confs/genio-510.json
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/data/video-codec-test-confs/genio-700.json
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/units/video-codec/jobs.pxu
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/units/video-codec/test-plan.pxu
Labels: ce-oem

#1625 Add Granite Rapids CPUID (BugFix)
  providers/base/bin/cpuid.py
Labels: bug
