Repository canonical/checkbox, pull requests merged in 2024-10, with the labels that each got.

#1491 Implement the gst_encoder_psnr scenario (New)
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/bin/gst_encoder_psnr.py
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/bin/gst_resources_generator.py
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/bin/gst_utils.py
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/data/video-codec-test-confs/genio-1200.json
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/data/video-codec-test-confs/genio-350.json
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/data/video-codec-test-confs/genio-510.json
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/data/video-codec-test-confs/genio-700.json
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/units/video-codec/jobs.pxu
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/units/video-codec/test-plan.pxu
Labels: ce-oem

#1518 [ce-oem]Revise optee test script and job (Bugfix)
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/bin/look_up_xtest.py
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/bin/parse_optee_test.py
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/bin/xtest_install_ta.py
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/units/optee/jobs.pxu
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/units/optee/test-plan.pxu
Labels: ce-oem

#1546 Fix missing `subprocess.PIPE` in reboot_check_test.py (Bugfix)
  providers/base/bin/reboot_check_test.py
  providers/base/tests/test_reboot_check_test.py
Labels: Critical, base-provider

#1516 Implement the gst_transform_rotate_and_flip scenario (New)
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/bin/gst_resources_generator.py
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/bin/gst_transform_rotate_and_flip.py
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/bin/gst_utils.py
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/data/video-codec-test-confs/genio-1200.json
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/data/video-codec-test-confs/genio-350.json
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/data/video-codec-test-confs/genio-510.json
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/data/video-codec-test-confs/genio-700.json
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/units/video-codec/jobs.pxu
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/units/video-codec/test-plan.pxu
Labels: ce-oem

#1563 Install AMD GPU setup script in deb package (BugFix)
  providers/gpgpu/debian/checkbox-provider-gpgpu.install
Labels: bug
