Repository canonical/checkbox, pull requests merged in 2025-03, with the labels that each got.

#1768 Fix slugify when str is empty/none (BugFix)
  checkbox-support/checkbox_support/helpers/slugify.py
  checkbox-support/checkbox_support/tests/test_slugify.py
Labels: bug

#1778 [checkbox-ce-oem] Add default value for rs485-settings in class Serial init (Bugfix)
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/bin/serial_test.py
Labels: ce-oem

#1791 [ce-oem] Add ce-oem full desktop plan (New)
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/units/test-plan-ce-oem-full-desktop.pxu
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/units/test-plan-ce-oem-full-server.pxu
Labels: ce-oem

#1717 Fix NTFS SD card mount failure by adding sync and udevadm settle (BugFix)
  checkbox-support/checkbox_support/scripts/tests/test_usb_read_write.py
  checkbox-support/checkbox_support/scripts/usb_read_write.py
  checkbox-support/checkbox_support/tests/test_usb_read_write.py
Labels: waiting-for-changes

#1814 Add OPTEE tests for OPTEE OS 4.x (New)
  contrib/checkbox-ce-oem/checkbox-ce-oem-snap/series_classic20/snap/snapcraft.yaml
  contrib/checkbox-ce-oem/checkbox-ce-oem-snap/series_classic22/snap/snapcraft.yaml
  contrib/checkbox-ce-oem/checkbox-ce-oem-snap/series_classic24/snap/snapcraft.yaml
  contrib/checkbox-ce-oem/checkbox-ce-oem-snap/series_uc20/snap/snapcraft.yaml
  contrib/checkbox-ce-oem/checkbox-ce-oem-snap/series_uc22/snap/snapcraft.yaml
  contrib/checkbox-ce-oem/checkbox-ce-oem-snap/series_uc24/snap/snapcraft.yaml
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/bin/optee_helper.py
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/bin/parse_optee_test.py
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/data/xtest_supported_version.json
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/units/optee/jobs.pxu
  contrib/checkbox-ce-oem/checkbox-provider-ce-oem/units/optee/test-plan.pxu
Labels: ce-oem
